<div>
    <h5 class="ms-3 mt-3 text-primary" routerLink="/login" style="cursor: pointer;">login</h5>
    <h4 class="text-primary text-center mb-4 mt-4" routerLink="/">Details of Product</h4>
    <div class="fs-5">

        <!-- <p class="mx-4 text-secondary">This post will be a complete practical guide for getting started with Angular Universal.</p>
        <p class="mx-4 text-secondary">We are going to go start with an existing Angular application, and we will progressively turn it into an Angular Universal application while explaining every step along the way!</p>
        <p class="mx-4 text-secondary">We will first learn about the main use cases for Angular Universal, so that we know when to use it and why.</p>
        <p class="mx-4 text-secondary">Then we will start by using the Angular CLI to quickly add an Universal bundle to an existing application. We will then write step-by-step our own Angular Universal Express Server from scratch!</p>
        <p class="mx-4 text-secondary">We will make our application search engine (SEO) friendly and compatible with social media crawlers (for example Facebook or Twitter).</p> -->

    </div>
</div>

<div>
    <div class="container">

        <div class="card rounded-5 p-3  mx-5 mt-3 w-75s">
            <div class="row">
                <div class="col-6">
                    <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none">{{productlist?.title}}</a>
                    <h6>
                        Brand:- {{productlist?.brand}}
                    </h6>
                    <h6>
                        Category:- {{productlist?.category}}
                    </h6>
                    <h6>
                        Price:- {{productlist?.price}}
                    </h6>
                    <h6>
                        Stock:- {{productlist?.stock}}
                    </h6>
                    <h6>
                        DiscountPercentage:- {{productlist?.discountPercentage}}
                    </h6>
                    <h6> Rating:-{{productlist?.rating}}</h6>
                    <h6>
                        Description:-{{productlist?.description}}
                    </h6>
                </div>
                <div class="col-6">
                    <div *ngFor="let item of productlist?.images">

                        <img src="{{item}}" alt="Product Image" ngxExpires="30d">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>