<div>
    <h4 class="text-primary text-center mb-4" routerLink="/">Details of Angular Universal</h4>
    <div class="fs-5">

        <p class="mx-4 text-secondary">This post will be a complete practical guide for getting started with Angular Universal.</p>
        <p class="mx-4 text-secondary">We are going to go start with an existing Angular application, and we will progressively turn it into an Angular Universal application while explaining every step along the way!</p>
        <p class="mx-4 text-secondary">We will first learn about the main use cases for Angular Universal, so that we know when to use it and why.</p>
        <p class="mx-4 text-secondary">Then we will start by using the Angular CLI to quickly add an Universal bundle to an existing application. We will then write step-by-step our own Angular Universal Express Server from scratch!</p>
        <p class="mx-4 text-secondary">We will make our application search engine (SEO) friendly and compatible with social media crawlers (for example Facebook or Twitter).</p>
        
    </div>
    <div class="text-center">
        <button class="" routerLink="/login">Login Here</button>
    </div>
</div>
