<div>
    <h3 class="text-primary mt-3 text-center" routerLink="/login">Angular Universal: a Complete Practical Guide</h3>
    <h5 class="mx-5 text-secondary">When we use Angular Universal, we will render the initial HTML and CSS shown to the
        user ahead of time. We can do
        it for example at build time, or on-the-fly on the server when the user requests the page.
        This HTML and CSS will be served initially to the user, so the user can see something on the screen quickly. But
        server-side rendering is only half the story!
        This is because together with the server-side rendered HTML, we will also ship to the browser a normal
        client-side Angular Application.</h5>
</div>
<div class="mb-5">

    <div class="container-fluid ">
        <div class="carousel-item active d-flex">
            <div class="" *ngFor="let item of jobsdata">
                <div class="card rounded-5 p-3  mx-5 mt-3 w-75s">
                    <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                        [routerLink]="['/details']">{{item.title}}</a>
                    <h6>
                        {{item.state_detail.name}} {{item.state_detail.country_detail.name}}
                    </h6>
                    <h6> SGD - {{item.min_salary}}-{{item.max_salary}} </h6>
                    <h6>
                        {{item.experiance_from}} - {{item.experiance_to}} Years Experience
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>