<div>
    <h1 class="text-primary mt-3 text-center mb-3 fs-3" routerLink="/login">List of Products: All Type of Products</h1>
    <h2 class="mx-5 text-secondary fs-5">Here, We will discribe the list of related products as Mobile phones, laptops and
        other type of electronic products and some more.</h2>
</div>
<!-- <div class="mb-5">

    <div class="container-fluid ">
        <div class="carousel-item active d-flex">
            <div class="" *ngFor="let item of jobsdata">
                <div class="card rounded-5 p-3  mx-5 mt-3 w-75s">
                    <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                        [routerLink]="['/details']">{{item.title}}</a>
                    <h6>
                        {{item.state_detail.name}} {{item.state_detail.country_detail.name}}
                    </h6>
                    <h6> SGD - {{item.min_salary}}-{{item.max_salary}} </h6>
                    <h6>
                        {{item.experiance_from}} - {{item.experiance_to}} Years Experience
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div>
    <div class="container">
        <div *ngFor="let item of productlist">
            <div class="mt-2">
                <!-- <div class="card rounded-5 p-3  mx-5 mt-3 w-25"> -->
                <a class="text-primary fw-bold fs-6 text-decoration-none"
                    [routerLink]="['/productdetails', item.id]">{{item.title}}</a>
                <!-- <h6>
                        Price:- {{item.price}}
                    </h6>
                    <h6> Rating:-{{item.rating}}</h6>
                    <h6>
                        Description:-{{item.description}}
                    </h6> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>